= simple_form_for(setup_game(@game), remote: true) do |f|
  :javascript
    function quarter_to_id (num){
      var numString = "";
    switch(num) {
      case 1:
      numString = "input[id$='quarter_one_plays']";
          break;
      case 2:
      numString = "input[id$='quarter_two_plays']";
          break;
      case 3:
      numString = "input[id$='quarter_three_plays']";
          break;
      case 4:
      numString = "input[id$='quarter_four_plays']";
          break;
      case 5:
      numString = "input[id$='overtime_plays']";
          break;
      default:
      numString = "input[id$='quarter_one_plays']";
      } 
      return numString;
    }

    function player_activation(row){
      console.log("Click Recorded!");
      console.log(row);
    }
    var current_quarter = 1

    $("#play_button").click(function(){
      $("input[id^='game_current_quarter_'").each(function(index, quarter){
        if(quarter.checked){
          current_quarter = index + 1;
        }
      });
      $(quarter_to_id(current_quarter)).each(function(index, play_counter){
        if(play_counter.value == '' || play_counter.value == 0)
        {
          play_counter.value = 1;
        }
        else {
          play_counter.value ++;
        }
      });
    });
  - if @game.errors.any?
    #error_explanation
      %h2
        = pluralize(game.errors.count, "error")
        prohibited this game from being saved:
      %ul
        - game.errors.full_messages.each do |message|
          %li= message
  = f.label :current_quarter
  %br
  .funkyradio
    .funkyradio-success
      = f.radio_button :current_quarter, 1, checked: @game.current_quarter == 1
      %label{:for => "game_current_quarter_1"} Quarter One
    .funkyradio-success
      = f.radio_button :current_quarter, 2, checked: @game.current_quarter == 2
      %label{:for => "game_current_quarter_2"} Quarter Two
    .funkyradio-success
      = f.radio_button :current_quarter, 3, checked: @game.current_quarter == 3
      %label{:for => "game_current_quarter_3"} Quarter Three
    .funkyradio-success
      = f.radio_button :current_quarter, 4, checked: @game.current_quarter == 4
      %label{:for => "game_current_quarter_4"} Quarter Four
    .funkyradio-success
      = f.radio_button :current_quarter, 5, checked: @game.current_quarter == 5
      %label{:for => "game_current_quarter_5"} Overtime
            
  %h3 Score
  = f.simple_fields_for :score do |gs|
    %table.tg
      %tr
        %th.tg-0pky{:colspan => "5"} Visitor:
        %th.tg-0lax{:colspan => "5"} Home:
      %tr
        %td.tg-q8ud Q1
        %td.tg-q8ud Q2
        %td.tg-q8ud Q3
        %td.tg-sjuo Q4
        %td.tg-sjuo OT
        %td.tg-sjuo Q1
        %td.tg-sjuo Q2
        %td.tg-sjuo Q3
        %td.tg-sjuo Q4
        %td.tg-sjuo OT
      %tr
        %td.tg-0pky= gs.number_field :visit_quarter_one, class: 'form-control'
        %td.tg-0pky= gs.number_field :visit_quarter_two, class: 'form-control'
        %td.tg-0pky= gs.number_field :visit_quarter_three, class: 'form-control'
        %td.tg-0lax= gs.number_field :visit_quarter_four, class: 'form-control'
        %td.tg-0lax= gs.number_field :visit_overtime, class: 'form-control'
        %td.tg-0lax= gs.number_field :home_quarter_one, class: 'form-control'
        %td.tg-0lax= gs.number_field :home_quarter_two, class: 'form-control'
        %td.tg-0lax= gs.number_field :home_quarter_three, class: 'form-control'
        %td.tg-0lax= gs.number_field :home_quarter_four, class: 'form-control'
        %td.tg-0lax= gs.number_field :home_overtime, class: 'form-control'
    %br
    %h3 Plays
    .actions
      %input.btn.btn-lg.btn-success.center-block{"data-disable-with" => "Create Game", :name => "commit", :type => "submit", :value => "Play!", :id => "play_button"}
    %table.tg{:width => "100%"}
      %thead
        %tr
          %th.tg-s268{:colspan => "2"}
            Home Team Name: #{f.text_field :home_team, class: 'form-control', required: true}
          %th.tg-s268{:colspan => "4"}
            Coach: #{f.text_field :coach, class: 'form-control', required: true}
          %th.tg-s268{:colspan => "3"}
            Week #: #{f.number_field :week, class: 'form-control', required: true}
        %tr
          %td.tg-s268{:colspan => "2"}
            Visitor Team Name: #{f.text_field :visitor_team, class: 'form-control', required: true}
          %td.tg-s268{:colspan => "5", :style => "text-align:center"}
            Quarter
          %br/
          %td.tg-s268 Position:
          %td.tg-s268 Comments:
        %tr
          %td.tg-s268 Jersey #:
          %td.tg-s268 Player Name:
          %td.tg-s268 1
          %td.tg-s268 2
          %td.tg-s268 3
          %td.tg-s268 4
          %td.tg-s268 OT
          %td.tg-s268
          %td.tg-s268
      %tbody.player
        = f.simple_fields_for :players do |player|
          = render 'player_fields', f: player
    .links
      = link_to_add_association 'add player', f, :players, class:'btn btn-secondary', data: {"association-insertion-node" => "tbody.player", "association-insertion-method" => "append"}
  .actions
    %input.btn.btn-lg.btn-success.center-block{"data-disable-with" => "Create Game", :name => "commit", :type => "submit", :value => "Finish and Save!", :id => "finish"}
  
