%tr.nested-fields.tr-grey
  %td
    = f.label :jersey_number, "Jersey Number", {class: "tdwhite"}
    - if( f.object.jersey_number && f.object.jersey_number > 0)
      = f.input_field :jersey_number, disabled: true
    - else
      = f.input_field :jersey_number
  %td
    = f.label :name, "Name", {class: "tdwhite"}
    = f.input_field :name
  %td.tdcenter.activator
    %button.btn.btn-off-field{:onclick => "player_activation(this)"} Off
    .hiddencb
      = f.input :active, as: :boolean
  %td.dynamic_quarter_counter.tdcenter-no-color
    = f.input_field :quarter_one_plays, :as => :hidden
    = f.input_field :quarter_two_plays, :as => :hidden
    = f.input_field :quarter_three_plays, :as => :hidden
    = f.input_field :quarter_four_plays, :as => :hidden
    = f.input_field :overtime_plays, :as => :hidden
  %td
    %span.tdcenter
      = f.object.total_plays
  %td
    = f.label :position, "Position", {class: "tdwhite"}
    = f.input_field :position
  %td
    = f.label :comment, "Comment", {class: "tdwhite"}
    = f.input_field :comment
  %td= link_to_remove_association 'remove player', f, {class: "btn btn-primary tdcenter"}