%tr.nested-fields
  %td= f.input :jersey_number
  %td= f.input :name
  %td= f.input :quarter_one_plays
  %td= f.input :quarter_two_plays
  %td= f.input :quarter_three_plays
  %td= f.input :quarter_four_plays
  %td= f.input :overtime_plays
  %td= f.input :position
  %td= f.input :comment
  %td= link_to_remove_association 'remove player', f